<template>
  <button class="menu" @click="show = !show">
    <img v-if="user.avatar" :src="'http://localhost:8001/' + user.avatar" :alt="user.avatar" />
    <img
      v-else
      src="https://i.pinimg.com/originals/0c/3b/3a/0c3b3adb1a7530892e55ef36d3be6cb8.png"
      alt="https://i.pinimg.com/originals/0c/3b/3a/0c3b3adb1a7530892e55ef36d3be6cb8.png"
    />
    <b>{{ user.displayName }}</b>

    <div class="dropdown-content" id="myDropdown" v-if="show">
      <router-link class="dropdown-content_item" to="/add">Add New Photo</router-link>
      <router-link class="dropdown-content_item" to="/edit-profile">Edit Profile</router-link>
      <button class="dropdown-content_item" @click="logout">Logout</button>
    </div>
  </button>
</template>

<script>
export default {
  data() {
    return {
      show: false,
    };
  },
  props: {
    user: { type: Object },
    logout: { type: Function },
  },
};
</script>

<style scoped>
.menu {
  display: flex;
  align-items: center;
  cursor: pointer;
  background: inherit;
  outline: none;
  border: inherit;
  position: relative;
}

img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 5px;
}

.dropdown-content {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 30px;
  left: 0;
  z-index: 1000000;
  background: rgb(208, 157, 253);
  width: 150px;
}

.dropdown-content_item {
  padding: 10px;
  color: black;
  text-decoration: none;
  outline: none;
  border: inherit;
  background: rgb(208, 157, 253);
  cursor: pointer;
}
</style>
