<template>
  <div class="gallery_item">
    <img
      :src="'http://localhost:8001/' + photo.image"
      :alt="photo.title"
      class="image"
      @click="modal = !modal"
    />
    <router-link :to="'/author/' + photo.user._id" class="logo"
      >Author : {{ photo.user.displayName }}
      <p>Title: {{ photo.title }}</p>
    </router-link>

    <Modal :modal="modal" @close="modal = !modal" :image="'http://localhost:8001/' + photo.image" />
  </div>
</template>

<script>
import Modal from "@/components/UI/Modal";

export default {
  components: { Modal },
  data() {
    return {
      modal: false,
    };
  },
  props: {
    photo: { type: Object },
  },
};
</script>
