<template>
  <input
    :type="type"
    :class="className"
    v-bind="$attrs"
    :value="value"
    @input="$emit('input', $event.target.value)"
  />
</template>

<script>
export default {
  props: {
    type: { type: String },
    className: { type: String },
    value: { type: String },
  },
};
</script>

<style scoped>
.field {
  padding: 10px 5px;
  border-radius: 20px;
  border: 1px solid black;
}

.field:focus {
  outline: 0;
  outline-offset: 0;
}
</style>
