<template>
  <div class="wrapper-content wrapper-content--fixed">
    <section>
      <div class="container">
        <h1 class="title">PAGE NOTE FOUND!</h1>
        <p class="title">Go to <router-link class="link" to="/">main page?</router-link></p>
      </div>
    </section>
  </div>
</template>

<style scoped>
.wrapper-content {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: rgb(214, 184, 241);
  width: 100%;
  height: 100%;
}
</style>
