<template>
  <section>
    <form class="wrapper-content">
      <h1>Add New Photo</h1>
      <label
        >Title:<Input type="text" class="field" v-model="photo.title" placeholder="Add Title...."
      /></label>
      <label @click="selectFile">
        Image <input type="file" @change="previewFiles" ref="file" class="field_img" />
        <Input type="text" class="field" :placeholder="imageName" />
      </label>

      <img v-if="previewFile" :src="previewFile" alt="files" class="preview" />
      <button type="button" class="btn" @click="onSubmit">Submit</button>
    </form>
  </section>
</template>

<script>
import Input from "../components/Input/Input.vue";
export default {
  components: { Input },
  data() {
    return {
      photo: {
        title: "",
        image: "",
      },
      imageName: "Add Image....",
      previewFile: "",
    };
  },
  methods: {
    previewFiles(e) {
      this.photo.image = e.target.files[0];
      this.imageName = e.target.files[0].name;
      this.previewFile = URL.createObjectURL(e.target.files[0]);
    },
    onSubmit() {
      const formData = new FormData();

      Object.keys(this.photo).forEach((key) => {
        formData.append(key, this.photo[key]);
      });

      this.$store.dispatch("postPhotoAction", formData);
    },

    selectFile() {
      this.$refs.file.click();
    },
  },
};
</script>

<style>
.wrapper-content {
  margin: 0 auto;
  width: 1000px;
}
.wrapper-content h1 {
  font-size: 30px;
  margin-bottom: 5%;
}
label {
  display: block;
}
.btn {
  padding: 5px 10px;
  background: rgb(110, 110, 255);
  outline: none;
  color: black;
  cursor: pointer;
  border: 1px solid black;
  margin: auto 0 0 0;
  position: fixed;
  bottom: 50px;
}

.btn:hover {
  background: rgb(77, 77, 245);
  color: white;
}

.field_img {
  display: none;
}

.preview {
  display: block;
  width: 500px;
  border: 2px solid black;
  margin: 10px 60px;
}
</style>
