<template>
  <section>
    <div class="wrapper-content">
      <div class="container">
        <div class="gallery">
          <GalleryItem
            v-for="photo in fetchAuthorGalleryGetters"
            :key="photo._id"
            :photo="photo"
            class="gallery_item"
          />
        </div>
      </div>
    </div>
  </section>
</template>

<script>
import { mapGetters } from "vuex";
import GalleryItem from "@/components/GalleryItem";

export default {
  components: { GalleryItem },
  computed: mapGetters(["fetchAuthorGalleryGetters"]),
  async mounted() {
    this.$store.dispatch("fetchAuthorGalleryAction", this.$route.params.id);
  },
};
</script>
