<template>
  <div class="wrapper-content">
    <section>
      <div class="container">
        <div class="gallery">
          <GalleryItem
            v-for="photo in fetchGalleryGetters"
            :key="photo._id"
            :photo="photo"
            class="gallery_item"
          />
        </div>
      </div>
    </section>
  </div>
</template>

<script>
import { mapGetters } from "vuex";
import GalleryItem from "@/components/GalleryItem";
export default {
  components: { GalleryItem },
  computed: mapGetters(["fetchGalleryGetters"]),
  async mounted() {
    this.$store.dispatch("fetchGalleryAction");
  },
};
</script>

<style>
.image {
  width: 500px;
  margin-right: 40px;
}
.gallery {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.gallery_item {
  display: flex;
  flex-direction: column;
  width: 45%;
  margin: 25px 10px;
}
</style>
