<template>
  <section>
    <div class="bg">
      <form class="form">
        <label> Email: <Input type="email" class="field" v-model="user.email"/></label>
        <label>Password:<input type="password" v-model="user.password" class="field" /> </label>
        <button type="button" class="form-btn" @click="login">Login</button>
      </form>
    </div>
  </section>
</template>

<script>
import Input from "../components/Input/Input.vue";
export default {
  components: { Input },
  data() {
    return {
      user: {
        email: "",
        password: "",
      },
    };
  },
  methods: {
    login() {
      this.$store.dispatch("loginUserAction", this.user);
    },
  },
};
</script>

<style></style>
