<template>
  <section>
    <div class="bg">
      <form class="form">
        <h1>Sign in</h1>
        <router-link :to="{ name: 'login' }">Sign Up</router-link>
        <label> Email: <input type="email" v-model="user.email" class="field"/></label>
        <label>Password:<input type="password" v-model="user.password" class="field" /> </label>
        <label>DisplayName <input type="text" v-model="user.displayName" class="field" /> </label>
        <label>Avatar <input type="file" @change="previewFiles" class="field" /> </label>
        <button type="button" class="form-btn" @click="register">Register</button>
      </form>
    </div>
  </section>
</template>

<script>
export default {
  data() {
    return {
      user: {
        email: "",
        password: "",
        displayName: "",
        avatar: "",
      },
    };
  },
  methods: {
    previewFiles(e) {
      this.user.avatar = e.target.files[0];
    },
    register() {
      const formData = new FormData();

      Object.keys(this.user).forEach((key) => {
        formData.append(key, this.user[key]);
      });

      this.$store.dispatch("registerUserAction", formData);
    },
  },
};
</script>

<style>
.bg {
  background: linear-gradient(
    90deg,
    rgba(234, 151, 237, 0.41360294117647056) 0%,
    rgba(176, 111, 203, 0.2595413165266106) 100%
  );
  width: 100%;
  min-height: 100vh;
  display: flex;
}
.form {
  height: 400px;
  width: 600px;
  background: #f2f2f2;
  overflow: hidden;
  cursor: pointer;
  margin: auto;
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.field {
  padding: 5px;
  margin: 10px;
  width: 550px;
}

.form-btn {
  background-color: #904caf;
  border: none;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}
</style>
