<template>
  <div class="modal_wrapper" v-show="modal" @click="$emit('close')">
    <div class="modal_content" @click.stop="">
      <img :src="image" alt="galleryItem" class="modal-img" />
      <span class="modal-btn" @click="$emit('close')">X</span>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    modal: {
      type: Boolean,
      required: true,
    },
    image: {
      type: String,
      required: true,
    },
  },
};
</script>

<style>
.modal_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 998;
  background: rgba(0, 0, 0, 0.48);
}
.modal_content {
  position: relative;
  margin: auto;
  padding: 20px 18px;
  z-index: 999;
  max-width: 800px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal-img {
  width: 800px;
  border: 2px solid black;
}

.modal-btn {
  position: absolute;
  top: 25px;
  right: 20px;
  background: inherit;
  border: inherit;
  color: white;
  font-size: 20px;
  cursor: pointer;
}
</style>
