<template>
  <section>
    <header class="header">
      <div class="container">
        <div class="navbar">
          <router-link to="/" class="logo">Gallery Photo</router-link>
          <AppToolBar v-if="getUser" :user="getUser" :logout="logout" />
          <div class="authentication" v-else>
            <router-link to="/login">Login</router-link>
            <router-link to="/register"> Register</router-link>
          </div>
        </div>
      </div>
    </header>

    <router-view></router-view>
  </section>
</template>

<script>
import { mapGetters } from "vuex";
import AppToolBar from "./components/AppToolBar/AppToolBar";

export default {
  components: { AppToolBar },
  async mounted() {
    this.$store.dispatch("saveUserAction");
  },
  computed: mapGetters(["getUser"]),

  methods: {
    logout() {
      this.$store.dispatch("logoutUserAction");
    },
  },
};
</script>

<style>
.container {
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 15px;
}

.header {
  background: rgb(151, 60, 255);
  height: 50px;
  padding: 10px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.authentication a,
.logo {
  margin: 0 5px;
  text-decoration: none;
  font-size: 20px;
  color: black;
  padding: 5px 15px;
}

* {
  box-sizing: border-box;
}
</style>
